:root {
  --size-xs: 16px;
  --size-sm: 48px;
  --size-m: 96px;
  --size-l: 144px;
  --size-xl: 192px;
  --size-xxl: 288px;
  --size-maxwidth: 1400px;
  --space-halfunit: 8px;
  --space-unit: 16px;
  --space-20: 20px;
  --space-oneandhalfunits: 24px;
  --space-twounits: 32px;
  --space-threeunits: 48px;
  --space-fourunits: 64px;
  --space-fiveunits: 80px;
  --space-sixunits: 96px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-8: 8px;
  --inputradius: 24px;
  --btnradius: 24px;
  --radius-50: 50px;
  --radius-round: 50%;
  --clr-gray: #e3e3e9ff;
  --clr-mate: #272727ff;
  --clr-accent1: #FFFFFF;
  --clr-accent2: #F5D1B0;
  --clr-primary1: #BF4408;
  --clr-primary2: #E65103;
  --clr-secondary1: #FFFFFF;
  --clr-secondary2: #FBF1EB;
  --clr-light-blue: #e0ebfbff;
  --clr-neutral-dark: #191818;
  --clr-light-orange: #ff9f51ff;
  --clr-neutral-light: #FBFAF9;
  --clr-dark-gradient: linear-gradient(to bottom, #434343, #1C1C1C);
  --letter-s: 0.07rem;
  --line-h: 1.3;
}

@font-face {
  font-family: drukwide;
  src: url(fonts/drukwide.otf);
}

@font-face {
  font-family: drukmedium;
  src: url(fonts/drukmedium.ttf);
}

@font-face {
  font-family: druktext;
  src: url(fonts/druktext.otf);
}

@font-face {
  font-family: degulartext;
  src: url(fonts/degulartext.otf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: degulartext;
  line-height: var(--line-h);
  letter-spacing: var(--letter-s);
  user-select: none;
}

body::-webkit-scrollbar {
  width: var(--space-unit);
}

body::-webkit-scrollbar-track {
  background-color: var(--clr-mate);
  border: 2px solid var(--clr-neutral-light);
  border-top-width: 0;
  border-bottom-width: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-mate);
  background-color: var(--clr-neutral-light);
  cursor: pointer;
}

h1 {
  font-family: drukwide;
}

h2 {
  font-family: druktext;
}

button {
  font-family: drukmedium;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  padding: 2px 4px;
}

img {
  display: block;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--space-threeunits) 0;
  background-color: var(--clr-mate);
}

/*------------- NAVBAR / MOBILE SECTION ------------------*/

.navbar {
  top: 0;
  right: 0;
  width: 80.5%;
  height: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-mate);
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--clr-neutral-light);
  padding-left: var(--space-threeunits);
  padding-right: var(--space-twounits);
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: drukmedium;
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--clr-neutral-light);
  cursor: pointer;
}

.letter-b,
.text-orange {
  color: var(--clr-light-orange);
}

.desktop-nav {
  width: auto;
  height: 75px;
  display: flex;
  align-items: center;
  font-family: druktext;
}

.link-desktop-nav {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 1.2rem;
  padding: 0 var(--space-unit);
  color: var(--clr-neutral-light);
  cursor: pointer;
  transition: .3s;
}

.link-desktop-nav:hover {
  color: var(--clr-light-orange);
}

#open-menu {
  display: none;
  background-color: transparent;
  padding: 5px;
  font-size: 1.3rem;
  border: none;
  color: var(--clr-neutral-light);
  cursor: pointer;
}

#open-menu.visible {
  display: block;
}

.menu-mobile {
  display: none;
}

.link-mobile-menu {
  width: 100%;
  color: var(--clr-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  font-size: 0.85rem;
  padding: 0.6rem;
  background-color: var(--clr-mate);
  gap: 1rem;
  cursor: pointer;
}

.mobile-icon-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-twounits);
  gap: var(--space-unit);
}

.mobile-linkedin,
.mobile-github {
  width: 21px;
  height: 21px;
  cursor: pointer;
}

/*------------- HEADER HEADING SECTION ------------------*/

.header-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--clr-light-blue);
  padding: var(--space-fourunits) var(--space-twounits) 0 var(--space-twounits);
  gap: var(--space-halfunit);
}

.header-heading {
  width: 100%;
  font-size: 7vw;
  font-weight: 900;
  text-align: center;
  background: var(--clr-dark-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*------------- HERO SECTION ------------------*/

.hero-section {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--space-fourunits) var(--space-threeunits);
  background-color: var(--clr-light-blue);
}

.hero-container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--space-unit);
}

.hero-left-side {
  width: 42%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--btnradius);
  background-color: var(--clr-mate);
  padding: var(--space-twounits);
  gap: var(--space-threeunits);
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--space-oneandhalfunits);
}

.hero-heading {
  font-size: 3vw;
}

.text-white {
  color: var(--clr-neutral-light);
}

.hero-text {
  font-size: 2rem;
  color: var(--clr-neutral-light);
}

.hero-btn-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--space-unit);
}

.h-btn {
  font-family: druktext;
  font-size: 1.2rem;
  border-radius: var(--btnradius);
  white-space: nowrap;
  padding: var(--space-halfunit) var(--space-20);
  border: 2px solid;
  cursor: pointer;
}

.hero-project {
  color: var(--clr-mate);
  background-color: var(--clr-light-orange);
  border-color: var(--clr-light-orange);
}

.hero-download {
  color: var(--clr-neutral-light);
  background-color: var(--clr-mate);
  border-color: var(--clr-neutral-light);
}

.hero-right-side {
  width: 58%;
  height: 690px;
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--btnradius);
}

/*------------- MARQUEE SECTION ------------------*/

.marquee-section {
  width: 80%;
  background-color: var(--clr-light-blue);
}

.marquee-container {
  width: 100%;
  height: auto;
  display: flex;
  background-color: var(--clr-secondary2);
  padding: var(--space-halfunit) 0;
  border: 4px solid var(--clr-mate);
  border-left: 0;
  border-right: 0;
  overflow: hidden;
  transform: rotate(-0.8deg);
}

.marquee-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.marquee-title {
  font-family: druktext;
  white-space: nowrap;
  text-align: center;
  font-size: 1.8vw;
  font-weight: 700;
  padding: 0 1rem;
  color: var(--clr-mate);
}

.marquee-arrow {
  font-size: 2.5rem;
  padding: 0 1rem;
}

/*------------- ABOUT SECTION ------------------*/

.about-section {
  gap: var(--space-unit);
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--clr-light-blue);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: var(--space-sixunits) var(--space-threeunits);
}

.about-heading {
  width: 35%;
  height: 100%;
  font-weight: 900;
  font-size: 4vw;
  background: var(--clr-dark-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-description {
  width: 65%;
  font-size: 2.3rem;
  font-weight: 500;
  line-height: 3.5rem;
  padding: var(--space-halfunit) var(--space-twounits) 0 var(--space-twounits);
}

.white-bg {
  background-color: var(--clr-neutral-light);
}

/*------------- EXPERIENCE SECTION ------------------*/

.exp-section {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.exp-heading {
  color: var(--clr-mate);
  width: 100%;
  font-size: 4vw;
  font-weight: 900;
  text-align: center;
  background-color: var(--clr-secondary2);
  border: 2px solid var(--clr-mate);
  border-left-width: 0px;
  border-right-width: 0px;
  padding: var(--space-unit) 0;
}

.exp-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-color: var(--clr-light-blue);
  cursor: pointer;
}

.exp-line,
.exp-top-line {
  border-top: 2px solid var(--clr-mate);
}

.exp-trigger {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--clr-mate);
  font-family: drukmedium;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: var(--line-h);
  padding: var(--space-threeunits) var(--space-twounits);
}

.exp-title {
  text-align: left;
}

.exp-year {
  text-align: center;
}

.exp-icons-container {
  gap: var(--space-halfunit);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.exp-down-arrow {
  width: 40px;
  height: 40px;
}

.exp-up-arrow {
  width: 40px;
  height: 40px;
  display: none;
}

.exp-content-container {
  max-height: 0;
  align-items: flex-start;
  padding: 0 var(--space-threeunits);
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.exp-content-container.open {
  max-height: 900px;
  padding: 0 var(--space-threeunits) var(--space-threeunits) var(--space-threeunits);
}

.exp-info {
  font-family: degulartext;
  display: block;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
  border: 2px solid var(--clr-mate);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-radius: var(--btnradius);
  color: var(--clr-mate);
  padding: var(--space-twounits);
  background-color: var(--clr-neutral-light);
  box-shadow: rgb(89, 89, 89) 5px 5px 0px 0px;
}

.exp-text-heading {
  line-height: 2.5rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.exp-text-subheading {
  line-height: 2.5rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.exp-text {
  line-height: 2.5rem;
}

/*----------------- PROJECTS SECTION ------------------*/

.projects-section {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--clr-mate);
  background-color: var(--clr-light-blue);
  padding: var(--space-sixunits) var(--space-twounits);
  gap: var(--space-threeunits);
}

.projects-heading {
  width: 100%;
  height: 100%;
  font-size: 7vw;
  text-align: center;
  font-weight: 900;
  padding: var(--space-unit);
  background: var(--clr-dark-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project-row-div1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.video-container1,
.video-container2 {
  position: relative;
  width: 50%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

video::-webkit-media-controls {
  display: none !important;
}

video::-moz-media-controls {
  display: none !important;
}

video::-ms-media-controls {
  display: none !important;
}

video::media-controls {
  display: none !important;
}

.project-info-div {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-unit);
  gap: var(--space-unit);
}

.view-btn {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--clr-neutral-light);
  border-radius: var(--radius-50);
  background-color: var(--clr-mate);
  padding: var(--space-halfunit) var(--space-unit);
  gap: var(--space-unit);
  box-shadow: 5px 5px 0px 0px #595959;
  cursor: pointer;
}

.project-heading {
  font-size: 1.3em;
  font-weight: 800;
  text-align: center;
  color: var(--clr-neutral-light);
}

.github-btn {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-50);
  border: 2px solid var(--clr-mate);
  padding: var(--space-halfunit) var(--space-unit);
  background-color: var(--clr-light-blue);
  gap: var(--space-unit);
  cursor: pointer;
  box-shadow: 5px 5px 0px 0px #595959;
  transition: 0.3s;
}

.github-btn:hover {
  background-color: var(--clr-neutral-light);
}

.github-icon {
  width: 25px;
  height: 25px;
  color: var(--clr-mate);
}

.project-row-div2 {
  width: auto;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.project-arrow {
  width: 25px;
  height: 25px;
  color: var(--clr-neutral-light);
}

.b-color {
  color: var(--clr-mate);
}

/*----------------- TECHNOLOGY SECTION ------------------*/

.tech-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--clr-light-blue);
  padding: 0 var(--space-threeunits) var(--space-sixunits) var(--space-threeunits);
  gap: var(--space-twounits);
}

.tech-heading {
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 5.5vw;
  color: var(--clr-mate);
  background: var(--clr-dark-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tech-marquee-container {
  width: 100%;
  height: auto;
  display: flex;
  border-radius: var(--btnradius);
  background-color: var(--clr-mate);
  padding: var(--space-oneandhalfunits) 0;
  overflow: hidden;
}

.logos-slide {
  display: flex;
  align-items: center;
  animation: tech-marquee 70s infinite linear;
}

@keyframes tech-marquee {
  to {
    transform: translateX(-100%);
  }
}

.logos-slide img {
  height: 3vw;
  object-fit: cover;
  margin-left: 3.5rem;
}

/*----------------- PROCESS SECTION ------------------*/

.process-section {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--clr-mate);
  border-left-width: 0px;
  border-right-width: 0px;
  background-color: var(--clr-secondary2);
  padding: var(--space-sixunits) var(--space-threeunits);
}

.process-container {
  width: 100%;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--space-twounits);
}

.process-heading {
  display: inline-block;
  font-size: 4vw;
  font-family: drukwide;
  font-weight: 900;
  text-transform: uppercase;
}

.process-cards-content {
  grid-area: span 1/span 1/span 1/span 1;
}

.process-card {
  position: sticky;
  top: 10%;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--clr-mate);
  border-radius: var(--btnradius);
  padding: var(--space-twounits);
  margin-bottom: var(--space-twounits);
  background-color: var(--clr-neutral-light);
  box-shadow: 5px 5px 0px 0px #595959;
  gap: var(--space-oneandhalfunits);
}

.process-title {
  position: sticky;
  top: 10%;
  font-family: druktext;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--clr-mate);
  gap: var(--space-oneandhalfunits);
}

.process-text {
  color: var(--clr-mate);
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: degulartext;
}

.second {
  top: 14%;
}

.third {
  top: 18%;
}

.fourth {
  top: 22%;
  margin-bottom: 0;
}

/*----------------- FORM SECTION ------------------*/

.form-section {
  width: 80%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-light-blue);
  padding: var(--space-sixunits) var(--space-twounits) var(--space-threeunits) var(--space-twounits);
}

.form-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--space-twounits);
  gap: var(--space-twounits);
  overflow: hidden;
}

.form-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--space-unit);
}

.form-heading {
  width: 100%;
  font-size: 5vw;
  text-align: center;
  font-weight: 900;
  background: var(--clr-dark-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-subheading {
  color: var(--clr-mate);
  width: 100%;
  font-size: 3vw;
  text-align: center;
  font-weight: 800;
}

.form-contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--radius-8);
  padding: var(--space-twounits);
  gap: var(--space-oneandhalfunits);
}

.inputs {
  width: 100%;
  outline: none;
  font-size: 1.3rem;
  border-color: var(--clr-mate);
  border-width: 2px;
  border-radius: var(--inputradius);
  font-family: degulartext;
  padding: var(--space-unit) var(--space-oneandhalfunits);
}

.textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0;
}

.submit-btn {
  position: relative;
  width: 100%;
  height: 58px;
  background: transparent;
  border: 2px solid var(--clr-neutral-light);
  outline: none;
  border-radius: 50px;
  font-size: 1.4vw;
  font-weight: 800;
  color: var(--clr-light-orange);
  z-index: 1;
  overflow: hidden;
  letter-spacing: var(--letter-s);
  box-shadow: 5px 5px 0px 0px #595959;
  cursor: pointer;
}

.submit-btn::before {
  content: '';
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(#272727ff, #474747, #272727ff, #272727ff, #474747);
  z-index: -1;
  transition: 0.1s;
}

.submit-btn:hover:before {
  top: 1px;
}

/*----------------- FOOTER ------------------*/

.footer-container {
  width: 80%;
  height: 214px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 2px solid var(--clr-mate);
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  background-color: var(--clr-light-blue);
  padding: 0 0 0 var(--space-threeunits);
  gap: var(--space-fourunits);
}

.left-footer-div {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid var(--clr-mate);
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  padding-right: var(--space-twounits);
}

.email-div {
  gap: var(--space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.email-icon {
  color: var(--clr-mate);
  width: 30px;
  height: 30px;
}

.footer-email {
  color: var(--clr-mate);
  width: 420px;
  height: auto;
  font-size: 1.5rem;
  font-weight: 600;
}

.footer-arrow {
  color: var(--clr-mate);
  width: 30px;
  height: 30px;
}

.address-div {
  gap: var(--space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.location-icon {
  color: var(--clr-mate);
  width: 30px;
  height: 30px;
}

.footer-address {
  color: var(--clr-mate);
  width: 420px;
  height: auto;
  font-size: 1.5rem;
  font-weight: 600;
}

.cel-div {
  gap: var(--space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 12px 0;
}

.phone-icon {
  color: var(--clr-mate);
  width: 30px;
  height: 30px;
}

.footer-phone {
  color: var(--clr-mate);
  width: 420px;
  height: auto;
  font-size: 1.5rem;
  font-weight: 600;
}

.right-footer-div {
  width: auto;
  height: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
}

.link3 {
  display: contents;
}

.github-div {
  gap: var(--space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding: 12px 0;
  justify-content: center;
  text-decoration: none;
}

.github2 {
  color: var(--clr-mate);
  width: 30px;
  height: 30px;
}

.social1 {
  color: var(--clr-mate);
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  font-weight: 600;
}

.linkedin-div {
  gap: var(--space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding: 12px 0;
  justify-content: center;
  text-decoration: none;
}

.linkedin2 {
  color: var(--clr-mate);
  width: 30px;
  height: 30px;
}

.social2 {
  color: var(--clr-mate);
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  font-weight: 600;
}

.whatsapp-div {
  gap: var(--space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  cursor: pointer;
  height: auto;
  display: flex;
  align-items: center;
  padding: 12px 0;
  justify-content: center;
  text-decoration: none;
}

.whatsapp {
  color: var(--clr-mate);
  width: 30px;
  height: 30px;
}

.social3 {
  color: var(--clr-mate);
  width: 100%;
  height: auto;
  font-size: 1.5rem;
  font-weight: 600;
}

.middle-title {
  text-align: end;
}

/*---------------- BACK TO TOP FOOTER -------------------*/

.top-container {
  width: 80.5%;
  height: auto;
  display: flex;
  padding: var(--space-unit);
  border-top: 2px solid var(--clr-mate);
  background-color: var(--clr-neutral-light);
}

.top-dark-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--radius-50);
  background-color: var(--clr-mate);
  padding: 12px 14px;
}

.footer-brand {
  font-family: degulartext;
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--clr-secondary2);
}

.back-to-top-btn {
  font-family: drukmedium;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius-50);
  padding: 5px 8px 5px 15px;
  background-color: var(--clr-light-orange);
  cursor: pointer;
  gap: var(--space-halfunit);
}

.top-text-btn {
  color: var(--clr-mate);
  font-size: 80%;
  font-weight: 900;
}

/*-------------------------------------- MEDIA QUERYS -----------------------------------------*/

@media(max-width: 1200px) {
  .logo {
    font-size: 1.9rem;
  }

  .hero-container {
    flex-direction: column-reverse;
  }

  .hero-left-side, .hero-right-side {
    width: 100%;
  }

  .hero-heading,
  .hero-text {
    text-align: center;
  }

  .hero-btn-div {
    justify-content: center;
  }

  .about-section {
    height: 100%;
    flex-direction: column;
  }

  .about-heading {
    width: 100%;
    text-align: center;
  }

  .about-description {
    width: 100%;
    text-align: center;
    line-height: 3.7rem;
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-container {
    gap: var(--space-threeunits);
  }

  .left-footer-div {
    width: 70%;
  }
}

@media(max-width: 991px) {
  .main-container {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .navbar,
  .header-container,
  .marquee-section,
  .hero-section,
  .about-section,
  .exp-section,
  .projects-section,
  .tech-container,
  .process-section,
  .form-section {
    width: 100%;
  }

  .hero-right-side {
    width: 100%;
    padding-top: 0;
  }

  .marquee-title {
    font-size: 1.3rem;
  }

  .about-description {
    width: 100%;
    font-size: 2rem;
    line-height: 3.2rem;
  }

  .project-row-div1 {
    flex-direction: column;
  }

  .project-info-div1 {
    flex-direction: row;
  }

  .project-row-div2 {
    flex-direction: column-reverse;
  }

  .process-container {
    grid-template-columns: 1fr;
  }

  .process-heading {
    text-align: center;
    font-size: 5.5vw;
  }

  .form-content {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-container {
    width: 100%;
  }

  .left-footer-div {
    width: 65%;
  }

  .footer-email {
    width: 360px;
  }

  .footer-address {
    width: 360px;
  }

  .footer-phone {
    width: 360px;
  }

  .top-container {
    width: 100%;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
  }
}

@media(max-width: 767px) {
  .nav-container {
    padding: 0 var(--space-20);
  }

  .logo {
    font-size: 1.3rem;
  }

  .link-desktop-nav {
    font-size: 1rem;
    padding: 0 7px;
  }

  .hero-section {
    padding: var(--space-fourunits) var(--space-twounits);
  }

  .marquee-arrow {
    font-size: 2rem;
  }

  .about-section {
    padding: var(--space-sixunits) var(--space-unit);
  }

  .about-description {
    line-height: 3rem;
  }

  .exp-content-container.open {
    padding: 0 var(--space-twounits) var(--space-twounits) var(--space-twounits);
  }

  .exp-title,
  .exp-year {
    font-size: 1rem;
  }

  .projects-section {
    padding-left: var(--space-twounits);
    padding-right: var(--space-twounits);
  }

  .project-info-div1 {
    padding-left: var(--space-twounits);
    padding-right: var(--space-twounits);
    flex-direction: column;
  }

  .project-heading {
    font-size: 1.2em;
  }

  .github-btn {
    width: 230px;
  }

  .tech-container {
    padding-left: var(--space-twounits);
    padding-right: var(--space-twounits);
  }

  .process-section {
    padding: var(--space-fourunits) var(--space-twounits);
  }

  .process-card {
    width: 100%;
  }

  .process-title {
    position: static;
    font-size: 1.7rem;
    text-align: center;
  }

  .process-text {
    font-size: 1.5rem;
  }

  .form-subheading {
    font-size: 1.5rem;
  }

  .form-contact {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footer-container {
    gap: var(--space-unit);
    width: 100%;
    height: 100%;
    padding: var(--space-twounits);
  }

  .left-footer-div {
    width: 100%;
    border-width: 0px;
    border-right-width: 0px;
  }

  .footer-email {
    width: 470px;
    font-size: 1.5rem;
  }

  .footer-arrow {
    display: none;
  }

  .footer-address {
    width: 470px;
    font-size: 1.5rem;
  }

  .footer-phone {
    width: 470px;
    font-size: 1.5rem;
  }

  .right-footer-div {
    width: 100%;
  }

  .social1 {
    font-size: 1.5rem;
  }

  .social2 {
    color: var(--clr-mate);
    font-size: 1.5rem;
  }

  .social3 {
    font-size: 1.5rem;
  }
}

@media(max-width: 500px) {
  .navbar {
    justify-content: space-between;
    padding: 0 var(--space-unit);
    border: 2px solid var(--clr-neutral-light);
  }

  .nav-container {
    height: 71px;
    border-width: 0;
    padding: 0;
  }

  .desktop-nav {
    display: none;
  }

  #open-menu {
    display: flex;
  }

  #open-menu.visible {
    display: none;
  }

  .menu-mobile {
    position: absolute;
    top: 71px;
    right: 0px;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-mate);
    color: var(--clr-neutral-light);
    border-bottom: 2px solid var(--clr-neutral-light);
    z-index: 100;
    overflow: hidden;
    transition: 0.4s ease-in-out;
  }

  .show-menu {
    height: 270px;
  }

  .hero-section {
    padding: var(--space-fourunits) var(--space-unit);
  }

  .nav_close {
    display: none;
  }

  .show-icon .nav_burger {
    display: none;
  }

  .show-icon .nav_close {
    display: flex;
  }

  .hero-text {
    font-size: 1.5rem;
  }

  .hero-btn-div {
    flex-direction: column;
  }

  .about-description {
    font-size: 1.3rem;
    line-height: 2.5rem;
  }

  .exp-trigger {
    padding: var(--space-unit);
  }

  .exp-content-container.open {
    padding: 0 var(--space-unit);
    padding-bottom: var(--space-twounits);
  }

  .exp-text-heading {
    font-size: 1.5rem;
  }

  .exp-text-subheading {
    font-size: 1.3rem;
  }

  .exp-text {
    font-size: 1.3rem;
  }

  .exp-title,
  .exp-year {
    font-size: 0.8rem;
  }

  .projects-section {
    padding: var(--space-fourunits) var(--space-unit);
  }

  .project-heading {
    width: 100%;
    font-size: 1.1em;
  }

  .github-btn {
    width: 200px;
  }

  .tech-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }

  .tech-marquee-container {
    border-radius: 0px;
    border: 0;
  }

  .logos-slide img {
    height: 1.7rem;
  }

  .process-section {
    padding: var(--space-fourunits) var(--space-unit);
  }

  .process-container {
    grid-gap: var(--space-unit);
  }

  .process-title {
    font-size: 1.5rem;
  }

  .process-text {
    font-size: 1.3rem;
  }

  .form-section {
    padding: var(--space-fourunits) var(--space-unit) var(--space-twounits) var(--space-unit);
  }

  .footer-container {
    gap: var(--space-unit);
    width: 100%;
    height: 100%;
    padding: var(--space-twounits) var(--space-unit);
    flex-direction: column;
  }

  .left-footer-div {
    width: 100%;
    height: auto;
    border-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }

  .email-icon {
    width: 24px;
    height: 24px;
  }

  .footer-email {
    width: 390px;
    font-size: 1.2rem;
  }

  .location-icon {
    width: 24px;
    height: 24px;
  }

  .footer-address {
    width: 390px;
    font-size: 1.2rem;
  }

  .phone-icon {
    width: 24px;
    height: 24px;
  }

  .footer-phone {
    width: 390px;
    font-size: 1.2rem;
  }

  .right-footer-div {
    padding-left: 0px;
    padding-right: 0px;
  }

  .github2 {
    width: 24px;
    height: 24px;
  }

  .social1 {
    font-size: 1.2rem;
  }

  .linkedin-div {
    align-items: center;
    justify-content: center;
  }

  .linkedin2 {
    width: 24px;
    height: 24px;
  }

  .social2 {
    font-size: 1.2rem;
  }

  .whatsapp {
    width: 24px;
    height: 24px;
  }

  .social3 {
    font-size: 1.2rem;
  }

  .top-container {
    padding: var(--space-unit);
  }

  .footer-brand {
    font-size: 1.3rem;
  }

  .back-to-top-btn {
    padding: 4px 3.3px;
  }

  .top-text-btn {
    display: none;
    padding: 4px;
  }
}